:root {
    --preto: #171717;
    --branco: #FFF;
    --cinza: #CDCDCD;
    --cinza-claro: #F4F5F7;
    --cinza-escuro: #222222;
    --cor-primaria: #e05c11;
    --cor-primaria-escura: #cc5511;
    --cor-secundaria: #FDD400;
    --rodape-background: #2e3f6a;
}